.title::after {
  content: "";
  display: block;
  height: 2px;
  background-color: red;
  width: 278px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.team-title {
  text-align: center;
  font-family: "Yeseva One", sans-serif;
}
.team-text {
    text-align: center;
    color: #353535;
    font-family: "Montserrat", sans-serif;
}
.team-text h3 {
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #494242;
}